@import "../colorsVariables.css";

.navbar_container {
  background-color: var(--header_background) !important;
  margin: 7px;
  letter-spacing: 1.2px;
}

.profile_name img {
  border-radius: 50%;
  margin: 0 1rem 0 2.5rem;
}


.profile_name span {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--title_description_text) !important;
}

.profile_name span:hover {
  color: var(--button_color) !important;
}

.navbar_items {
  padding-right: 3rem;
}

.navbar_items .nav-link {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--title_description_text) !important;
  padding-right: 2rem !important;
}

.navbar_items .nav-link:hover {
  color: var(--button_color) !important;
}

.navbar_items .dropdown-toggle {
  color: var(--title_description_text) !important;
  background-color: var(--header_background) !important;
  border: 1px solid var(--footer_background) !important;
  font-weight: bolder !important;
}

.navbar_items .dropdown-toggle:hover,
.navbar_items .dropdown-toggle[aria-expanded="true"] {
  color: var(--button_color) !important;
  background-color: var(--header_background) !important;
}