@import "../colorsVariables.css";

.navbar_container {
  background-color: var(--header_background) !important;
  margin: 7px;
  letter-spacing: 1.2px;
}

.profile_name img {
  border-radius: 50%;
  margin: 0 1rem 0 2.5rem;
}

.profile_name span {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--title_description_text) !important;
}

.profile_name span:hover {
  color: var(--button_color) !important;
}

.navbar_items {
  padding-right: 3rem;
}

.navbar_items .nav-link {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--title_description_text) !important;
  padding-right: 2rem !important;
}

.navbar_items .nav-link:hover {
  color: var(--button_color) !important;
}

.navbar_items .dropdown-toggle {
  color: var(--title_description_text) !important;
  background-color: var(--header_background) !important;
  border: 1px solid var(--footer_background) !important;
  font-weight: bolder !important;
}

.navbar_items .dropdown-toggle:hover,
.navbar_items .dropdown-toggle[aria-expanded="true"] {
  color: var(--button_color) !important;
  background-color: var(--header_background) !important;
  border: 1px solid var(--button_color) !important;
}

@media (max-width: 1024px) {
  .profile_name img {
    margin: 0;
    padding: 0;
  }

  .profile_name span {
    font-size: 20px;
    margin-left: 10px;
  }

  .navbar_items .nav-link {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
  }

  .navbar_items .dropdown-toggle {
    font-size: 1rem;
    padding: 0.3rem;
    margin-top: 0.6rem;
    margin-left: 1.5rem;
  }

  .dropdown-item {
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  .navbar-nav .dropdown-menu {
    width: 70px !important;
    padding-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  .profile_name img {
    margin: 1rem;
    width: 70px;
    height: 70px;
  }

  .profile_name span {
    font-size: 24px;
    margin-left: 1rem;
  }

  .navbar_items .nav-link {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.3rem;
  }

  .navbar_items .dropdown-toggle {
    font-size: 1.5rem;
    padding: 0.3rem;
    margin-top: 0.6rem;
    margin-left: 1.5rem;
  }

  .dropdown-item {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .navbar-nav .dropdown-menu {
    width: 70px !important;
    margin-left: 2rem;
  }
}

@media (max-width: 540px) {
  .profile_name img {
    margin: 0;
    padding: 0;
  }

  .profile_name span {
    font-size: 16px;
    margin-left: 10px;
  }

  .navbar_items .nav-link {
    padding-top: 1rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }

  .navbar_items .dropdown-toggle {
    font-size: 0.8rem;
    padding: 0.3rem;
    margin-top: 0.6rem;
    margin-left: 0.3rem;
  }

  .dropdown-item {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .navbar-nav .dropdown-menu {
    width: 70px !important;
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .profile_name img {
    margin: 0;
    padding: 0;
  }

  .profile_name span {
    font-size: 16px;
    margin-left: 10px;
  }

  .navbar_items .nav-link {
    padding-top: 1rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }

  .navbar_items .dropdown-toggle {
    font-size: 0.8rem;
    padding: 0.3rem;
    margin-top: 0.6rem;
    margin-left: 0.3rem;
  }

  .dropdown-item {
    font-size: 0.8rem;
    padding: 0;
  }

  .navbar-nav .dropdown-menu {
    width: 70px !important;
  }
}

@media (max-width: 480px) {
  .dropdown-item {
    font-size: 1rem;
    padding: 0;
    margin-left: 0;
  }
}
