.home_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 233, 235);
  padding: 1rem;
}

.home_box h1 {
  color: var(--title_text);
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.home_box p {
  color: var(--title_description_text);
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;
}

.home_button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.home_button button {
  padding: 0.75rem 3.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--button_color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.home_button button:hover {
  background-color: #5041a8;
}

@media (max-width: 912px) {
  .home_box h1 {
    font-size: 3.4rem;
  }

  .home_box p {
    font-size: 2rem;
    padding: 0;
  }

  .home_button button {
    padding: 0.8rem 3rem;
    font-size: 2rem;
  }
}

@media (max-width: 820px) {
  .home_box h1 {
    font-size: 3.4rem;
  }

  .home_box p {
    font-size: 2rem;
    padding: 0;
  }

  .home_button button {
    padding: 0.8rem 3rem;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .home_container {
    padding: 0;
  }

  .home_box h1 {
    font-size: 3rem;
  }

  .home_box p {
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }

  .home_button button {
    padding: 0.8rem 3rem;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .home_container {
    padding: 0;
  }

  .home_box h1 {
    font-size: 2rem;
  }

  .home_box p {
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }

  .home_button button {
    padding: 0.8rem 2.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .home_container {
    padding: 0;
  }

  .home_box h1 {
    font-size: 1rem;
  }

  .home_box p {
    font-size: 1.3rem;
    padding: 1rem 1rem;
  }

  .home_button button {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
  }
}
