.navbar_con {
    background: #e3dddd;
    padding: 10px 62px;
    height: 70.9375px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-brand {
    flex: 1;
  }
  
  .brand-logo {
    max-width: 100%;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
  }
  
  .navbar-call {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .call-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  .call-icon {
    margin-right: 5px;
  }
  
  /* For the hamburger menu icon */
  .menu-toggle {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }
  
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #eee7e7;
        gap: 10px;
        position: absolute;
        top: 67.9375px;
        left: 0;
        padding: 15px;
    }
  
    .navbar-links.active {
        display: flex;
    }
  
    .navbar-call {
        display: none;
    }
  
    .menu-toggle {
        display: block;
    }
  }
  