:root {
    --title_text: #111111;
    --sub_title_text: #000000;
    --title_description_text: #333333;
    --sub_title_description_text: #555555;
    --button_color: #7843e9;
    --input_skill_background: #99999933;
    --header_background: White;
    --footer_background: black;
    --skill_text: #666666;
  }
