.footer_main {
  background-color: var(--footer_background);
  color: var(--header_background);
  padding: 2rem 1rem 1rem 1rem;
}

.footer_container h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.footer_container p {
  font-size: 1rem;
}

.footer_box h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.social_media_icons,
.coding_platform_icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.social_media_icon,
.coding_platform_icon {
  font-size: 1.5rem;
  padding: 0.4rem;
}

.copy_right p {
  font-size: 0.8rem;
  text-align: center;
}

.copy_right a {
  color: var(--header_background);
}

@media (max-width: 991px) {
  .footer_container {
    text-align: center;
  }

  .footer_container h1,
  .footer_box h1 {
    font-size: 1.5rem;
  }

  .footer_container p {
    font-size: 1rem;
  }

  .social_media_icon,
  .coding_platform_icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
  .footer_container h1,
  .footer_box h1 {
    font-size: 1.5rem;
  }

  .footer_container p {
    font-size: 1rem;
  }

  .social_media_icon,
  .coding_platform_icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .footer_container h1 {
    font-size: 1.3rem;
  }

  .footer_container p {
    font-size: 0.9rem;
  }

  .footer_box h1 {
    font-size: 1.3rem;
  }

  .social_media_icon,
  .coding_platform_icon {
    font-size: 1.5rem;
  }

  .copy_right p {
    font-size: 0.7rem;
  }
}

@media (max-width: 540px) {
  .footer_container h1,
  .footer_box h1 {
    font-size: 1.2rem;
  }

  .footer_container p {
    font-size: 0.8rem;
  }

  .social_media_icon,
  .coding_platform_icon {
    font-size: 1.4rem;
  }

  .copy_right p {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .footer_container h1,
  .footer_box h1 {
    font-size: 1.2rem;
  }

  .footer_container p {
    font-size: 0.8rem;
  }

  .social_media_icon,
  .coding_platform_icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .footer_container h1 {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .footer_container p {
    padding: 0;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer_box h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  .social_media_icon,
  .coding_platform_icon {
    font-size: 1rem;
  }

  .copy_right p {
    margin: 0;
    padding: 0;
  }
}
